.sidebar_menu {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.sidebar_item {
    font-size: clamp(18px, 3vw, 32px);
    line-height: 20px;
    -webkit-text-stroke: 0.2px #fff;
    padding: 16px 16px 16px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    &:last-child {
        border-bottom: none;
    }
    &:hover{
        text-decoration: underline;
        background-color: #151515;
        transition: all .3s ease;
    }
    a {
        color: #fff;
        display: flex;
        align-items: center;
        gap: 10px;
    }
}